/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap')

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-top: 35px;
    margin-bottom: 50px;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    width: 868px;
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-img {
    width: 900px;
    height: 700px;
    flex-shrink: 0;
    align-items: center;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    margin-top: 85px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-left: 100px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

/* some facts styles */
.facts-container {
    margin-top: 130px;
}

.facts-title {
    margin-left: 200px;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.facts-description {
    margin-left: 200px;
    width: 542px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #727272;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    margin-left: 250px;
    margin-right: 250px;
}


/* responsive media query  */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* tablet or medium devices */

@media screen and (min-width: 576pc) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}